@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <b><h1 class="display-4">Bem-vindo</h1></b>
    <i>Sistema de Controlo de Contactos</i>
    <br />
    <div class="container flex-fill">
        <img src="img/The-short-guide-to-Contact-Management-1024x576.png" />
    </div>
</div>
